@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 15px; 
  margin: 0;
  padding: 0;
}

a{
  &:hover{
    text-decoration: none;
  }
}

h1, h4{
  color: color("darkblue");
  text-transform: capitalize;
}

p{
  color: color("grayishblue");
  &::first-letter{
    text-transform: capitalize;
  }
}